label {
  display: block;
}

input, fieldset {
  margin-bottom: 24px;
}

button {
  padding: 12px;
}

[aria-hidden='true'] {
  display: none;
}

[aria-invalid='true'] {
  border: 1px solid red;
}

.error {
  margin-top: -24px;
  margin-bottom: 24px;
  color: red;
}

.status-error, .status-pending, .status-success {
  margin: 24px 0;
  border: 2px solid black;
  padding: 12px;
}

.status-error {
  border-color: red;
  color: red;
}

.status-error button {
  display: block;
  border: 0;
  color: red;
  text-decoration: underline;
  cursor: pointer;
  padding: 12px;
  font-size: 16px;
}

.status-pending {
  border-color: orange;
  color: black;
}

.status-success {
  border-color: green;
  color: green;
}