<a href="https://coryrylan.com/blog/build-accessible-forms-with-angular">
  <h1>Accessibile Angular Forms</h1>
</a>

<form [formGroup]="form" (ngSubmit)="submit()">
	<fieldset formGroupName="name">
    <legend>Legal Name</legend>
		<label for="first">First Name</label>
    <input formControlName="first" id="first" />
 
    <label for="last">Last Name</label>
    <input formControlName="last" id="last" /> 
  </fieldset>

  <fieldset formGroupName="contact">
    <legend>Contact Information</legend>
		<label for="email" id="email-label">Email (required)</label>
    <input
      [attr.aria-invalid]="emailIsInvalidAndTouched"
      formControlName="email"
      #emailRef
      id="email"
      type="email"
      required />
    
    <div
      *ngIf="emailIsInvalidAndTouched"
      role="alert"
      aria-describedby="email-label"
      tabindex="0"
      class="error">
      Please enter a valid email address.
    </div>

    <label for="phone">Phone Number</label>
    <input formControlName="phone" id="phone" />
  </fieldset>

  <fieldset formGroupName="password">
    <legend>Account Information</legend>
		<label for="password" id="password-label">Password (required)</label>
    <input
      [attr.aria-invalid]="passwordIsInvalidAndTouched"
      formControlName="password"
      #passwordRef
      id="password"
      type="password"
      required />
    <div
      *ngIf="passwordIsInvalidAndTouched"
      role="alert"
      aria-describedby="password-label"
      class="error">
      Password must be at least 6 characters.
    </div>

    <label for="confirm" id="confirm-label">Confirm Password (required)</label>
    <input formControlName="confirm" id="confirm" #confirmRef type="password" required />

    <div
      *ngIf="passwordsDoNotMatchAndTouched"
      role="alert"
      aria-describedby="confirm-label"
      tabindex="0"
      class="error">
      Passwords must match.
    </div>
  </fieldset>

  <div
    *ngIf="this.form.invalid && formStatus === FormStatus.Error"
    role="alert"
    class="status-error">
    The form has the following errors that need to be corrected:

    <button (click)="emailRef.focus()" *ngIf="emailIsInvalid">
      Please enter a valid email address.
    </button>

    <button (click)="passwordRef.focus()" *ngIf="passwordIsInvalid">
      Password must be at least 6 characters.
    </button>

    <button (click)="confirmRef.focus()" *ngIf="passwordsDoNotMatch">
      Passwords must match.
    </button>
  </div>

  <div *ngIf="formStatus === FormStatus.Pending" role="status" class="status-pending">
    Saving profile
  </div>

  <div *ngIf="formStatus === FormStatus.Success" role="status" class="status-success">
    Profile successfully created
  </div>

  <button>Create Account</button>
</form>